{% extends 'base.html' %}

{% block title %}Подтверждение{% endblock %}


{% block content %}
    <div class="block-verify">
        <h3>Код подтверждения из SMS</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="block-symbol" type="text" name="code" maxlength="1" required>
                <input class="block-symbol" type="text" name="code" maxlength="1" required>
                <input class="block-symbol" type="text" name="code" maxlength="1" required>
                <input class="block-symbol" type="text" name="code" maxlength="1" required>
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
    </div>

<script>
    const inputs = document.querySelectorAll('input[type="text"]');

    inputs.forEach((input, index) => {
        input.addEventListener('input', function() {
            if (this.value.length === 1 && index < inputs.length - 1) {
                inputs[index + 1].focus();
            } else if (this.value.length === 0 && index > 0) {
                inputs[index - 1].focus();
            }
        });
    });
</script>
{% endblock %}
